@font-face {
  font-family: 'Regular Regular';
  src: url("/fonts/regular_font/Regular-RegularItalic.eot");
  src: url("/fonts/regular_font/Regular-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-RegularItalic.woff2") format("woff2"), url("/fonts/regular_font/Regular-RegularItalic.woff") format("woff"), url("/fonts/regular_font/Regular-RegularItalic.svg#Regular-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Regular';
  src: url("/fonts/regular_font/Regular-Extrabold.eot");
  src: url("/fonts/regular_font/Regular-Extrabold.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-Extrabold.woff2") format("woff2"), url("/fonts/regular_font/Regular-Extrabold.woff") format("woff"), url("/fonts/regular_font/Regular-Extrabold.svg#Regular-Extrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url("/fonts/regular_font/Regular-Black.eot");
  src: url("/fonts/regular_font/Regular-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-Black.woff2") format("woff2"), url("/fonts/regular_font/Regular-Black.woff") format("woff"), url("/fonts/regular_font/Regular-Black.svg#Regular-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url("/fonts/regular_font/Regular-Regular.eot");
  src: url("/fonts/regular_font/Regular-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-Regular.woff2") format("woff2"), url("/fonts/regular_font/Regular-Regular.woff") format("woff"), url("/fonts/regular_font/Regular-Regular.svg#Regular-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url("/fonts/regular_font/Regular-Bold.eot");
  src: url("/fonts/regular_font/Regular-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-Bold.woff2") format("woff2"), url("/fonts/regular_font/Regular-Bold.woff") format("woff"), url("/fonts/regular_font/Regular-Bold.svg#Regular-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url("/fonts/regular_font/Regular-Medium.eot");
  src: url("/fonts/regular_font/Regular-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-Medium.woff2") format("woff2"), url("/fonts/regular_font/Regular-Medium.woff") format("woff"), url("/fonts/regular_font/Regular-Medium.svg#Regular-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Regular Medium';
  src: url("/fonts/regular_font/Regular-MediumItalic.eot");
  src: url("/fonts/regular_font/Regular-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-MediumItalic.woff2") format("woff2"), url("/fonts/regular_font/Regular-MediumItalic.woff") format("woff"), url("/fonts/regular_font/Regular-MediumItalic.svg#Regular-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Regular Bold';
  src: url("/fonts/regular_font/Regular-BoldItalic.eot");
  src: url("/fonts/regular_font/Regular-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/regular_font/Regular-BoldItalic.woff2") format("woff2"), url("/fonts/regular_font/Regular-BoldItalic.woff") format("woff"), url("/fonts/regular_font/Regular-BoldItalic.svg#Regular-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* $text: #222222; */
.animate {
  transition: all 0.4s ease;
}

/* ================================== */
/* ======= MARGINS / PADDINGS ======= */
/* ================================== */
.marginnone {
  margin: 0 !important;
}

.marginhorizontalnone {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.marginverticalnone {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margintopnone {
  margin-top: 0 !important;
}

.marginrightnone {
  margin-right: 0 !important;
}

.marginbottomnone {
  margin-bottom: 0 !important;
}

.marginleftnone {
  margin-left: 0 !important;
}

.paddingnone {
  padding: 0 !important;
}

.paddinghorizontalnone {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paddingverticalnone {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.paddingtopnone {
  padding-top: 0 !important;
}

.paddingrightnone {
  padding-right: 0 !important;
}

.paddingbottomnone {
  padding-bottom: 0 !important;
}

.paddingleftnone {
  padding-left: 0 !important;
}

.marginfourth {
  margin: 7.5px !important;
}

.marginhorizontalfourth {
  margin-left: 7.5px !important;
  margin-right: 7.5px !important;
}

.marginverticalfourth {
  margin-top: 7.5px !important;
  margin-bottom: 7.5px !important;
}

.margintopfourth {
  margin-top: 7.5px !important;
}

.marginrightfourth {
  margin-right: 7.5px !important;
}

.marginbottomfourth {
  margin-bottom: 7.5px !important;
}

.marginleftfourth {
  margin-left: 7.5px !important;
}

.paddingfourth {
  padding: 7.5px !important;
}

.paddinghorizontalfourth {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

.paddingverticalfourth {
  padding-top: 7.5px !important;
  padding-bottom: 7.5px !important;
}

.paddingtopfourth {
  padding-top: 7.5px !important;
}

.paddingrightfourth {
  padding-right: 7.5px !important;
}

.paddingbottomfourth {
  padding-bottom: 7.5px !important;
}

.paddingleftfourth {
  padding-left: 7.5px !important;
}

.marginthird {
  margin: 10px !important;
}

.marginhorizontalthird {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.marginverticalthird {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margintopthird {
  margin-top: 10px !important;
}

.marginrightthird {
  margin-right: 10px !important;
}

.marginbottomthird {
  margin-bottom: 10px !important;
}

.marginleftthird {
  margin-left: 10px !important;
}

.paddingthird {
  padding: 10px !important;
}

.paddinghorizontalthird {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.paddingverticalthird {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.paddingtopthird {
  padding-top: 10px !important;
}

.paddingrightthird {
  padding-right: 10px !important;
}

.paddingbottomthird {
  padding-bottom: 10px !important;
}

.paddingleftthird {
  padding-left: 10px !important;
}

.marginhalf {
  margin: 15px !important;
}

.marginhorizontalhalf {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.marginverticalhalf {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.margintophalf {
  margin-top: 15px !important;
}

.marginrighthalf {
  margin-right: 15px !important;
}

.marginbottomhalf {
  margin-bottom: 15px !important;
}

.marginlefthalf {
  margin-left: 15px !important;
}

.paddinghalf {
  padding: 15px !important;
}

.paddinghorizontalhalf {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.paddingverticalhalf {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.paddingtophalf {
  padding-top: 15px !important;
}

.paddingrighthalf {
  padding-right: 15px !important;
}

.paddingbottomhalf {
  padding-bottom: 15px !important;
}

.paddinglefthalf {
  padding-left: 15px !important;
}

.margintwothirds {
  margin: 20px !important;
}

.marginhorizontaltwothirds {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.marginverticaltwothirds {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margintoptwothirds {
  margin-top: 20px !important;
}

.marginrighttwothirds {
  margin-right: 20px !important;
}

.marginbottomtwothirds {
  margin-bottom: 20px !important;
}

.marginlefttwothirds {
  margin-left: 20px !important;
}

.paddingtwothirds {
  padding: 20px !important;
}

.paddinghorizontaltwothirds {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.paddingverticaltwothirds {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.paddingtoptwothirds {
  padding-top: 20px !important;
}

.paddingrighttwothirds {
  padding-right: 20px !important;
}

.paddingbottomtwothirds {
  padding-bottom: 20px !important;
}

.paddinglefttwothirds {
  padding-left: 20px !important;
}

.marginfull {
  margin: 30px !important;
}

.marginhorizontalfull {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.marginverticalfull {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.margintopfull {
  margin-top: 30px !important;
}

.marginrightfull {
  margin-right: 30px !important;
}

.marginbottomfull {
  margin-bottom: 30px !important;
}

.marginleftfull {
  margin-left: 30px !important;
}

.paddingfull {
  padding: 30px !important;
}

.paddinghorizontalfull {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.paddingverticalfull {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.paddingtopfull {
  padding-top: 30px !important;
}

.paddingrightfull {
  padding-right: 30px !important;
}

.paddingbottomfull {
  padding-bottom: 30px !important;
}

.paddingleftfull {
  padding-left: 30px !important;
}

.marginoneandhalf {
  margin: 45px !important;
}

.marginhorizontaloneandhalf {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.marginverticaloneandhalf {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.margintoponeandhalf {
  margin-top: 45px !important;
}

.marginrightoneandhalf {
  margin-right: 45px !important;
}

.marginbottomoneandhalf {
  margin-bottom: 45px !important;
}

.marginleftoneandhalf {
  margin-left: 45px !important;
}

.paddingoneandhalf {
  padding: 45px !important;
}

.paddinghorizontaloneandhalf {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.paddingverticaloneandhalf {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.paddingtoponeandhalf {
  padding-top: 45px !important;
}

.paddingrightoneandhalf {
  padding-right: 45px !important;
}

.paddingbottomoneandhalf {
  padding-bottom: 45px !important;
}

.paddingleftoneandhalf {
  padding-left: 45px !important;
}

.margindouble {
  margin: 60px !important;
}

.marginhorizontaldouble {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.marginverticaldouble {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.margintopdouble {
  margin-top: 60px !important;
}

.marginrightdouble {
  margin-right: 60px !important;
}

.marginbottomdouble {
  margin-bottom: 60px !important;
}

.marginleftdouble {
  margin-left: 60px !important;
}

.paddingdouble {
  padding: 60px !important;
}

.paddinghorizontaldouble {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.paddingverticaldouble {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.paddingtopdouble {
  padding-top: 60px !important;
}

.paddingrightdouble {
  padding-right: 60px !important;
}

.paddingbottomdouble {
  padding-bottom: 60px !important;
}

.paddingleftdouble {
  padding-left: 60px !important;
}

/* ==================================== */
/* ======= COLORS / BACKGROUNDS ======= */
/* ==================================== */
.primary {
  color: #1EA0C8;
}

.secondary {
  color: #10324F;
}

.graydark {
  color: #777;
}

.gray {
  color: #CCC;
}

.graylight {
  color: #F3F3F3;
}

.graymedium {
  color: gray;
}

.white {
  color: #FFF;
}

.black {
  color: #000;
}

.bg-primary {
  background-color: #1EA0C8;
}

.bg-secondary {
  background-color: #10324F;
}

.bg-gray {
  background-color: #CCC;
}

.bg-graydark {
  background-color: #777;
}

.bg-graylight {
  background-color: #F3F3F3;
}

.bg-white {
  background-color: #FFF;
}

.bg-black {
  background-color: #000;
}

/* ====================== */
/* ======= IMAGES ======= */
/* ====================== */
.imgfit {
  display: block;
  width: 100%;
  height: auto;
}

.imgfit img, .imgfit source {
  display: block;
  width: 100%;
  height: auto;
}

/* ===================================== */
/* ======= RESPONSIVE VISIBILITY ======= */
/* ===================================== */
.visivel-m {
  display: block;
}

@media (min-width: 750px) {
  .visivel-m {
    display: none;
  }
}

@media (min-width: 1200px) {
  .visivel-m {
    display: none;
  }
}

.visivel-t {
  display: none;
}

@media (min-width: 750px) {
  .visivel-t {
    display: block;
  }
}

@media (min-width: 1200px) {
  .visivel-t {
    display: none;
  }
}

.visivel-t-down {
  display: block;
}

@media (min-width: 1200px) {
  .visivel-t-down {
    display: none;
  }
}

.visivel-t-up {
  display: none;
}

@media (min-width: 750px) {
  .visivel-t-up {
    display: block;
  }
}

.visivel-d {
  display: none;
}

@media (min-width: 750px) {
  .visivel-d {
    display: none;
  }
}

@media (min-width: 1200px) {
  .visivel-d {
    display: block;
  }
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .gridrow {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .gridrow {
    width: 1170px;
  }
}

.gridrowfull, .gridrow {
  display: flex;
  flex-wrap: wrap;
}

.gridrowfull .col, .gridrow .col {
  flex: 1;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .col-1, .gridrow .col-1 {
  box-sizing: border-box;
  width: 8.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-1, .gridrow .offset-1 {
  margin-left: 8.33333%;
}

.gridrowfull .col-2, .gridrow .col-2 {
  box-sizing: border-box;
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-2, .gridrow .offset-2 {
  margin-left: 16.66667%;
}

.gridrowfull .col-3, .gridrow .col-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-3, .gridrow .offset-3 {
  margin-left: 25%;
}

.gridrowfull .col-4, .gridrow .col-4 {
  box-sizing: border-box;
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-4, .gridrow .offset-4 {
  margin-left: 33.33333%;
}

.gridrowfull .col-5, .gridrow .col-5 {
  box-sizing: border-box;
  width: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-5, .gridrow .offset-5 {
  margin-left: 41.66667%;
}

.gridrowfull .col-6, .gridrow .col-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-6, .gridrow .offset-6 {
  margin-left: 50%;
}

.gridrowfull .col-7, .gridrow .col-7 {
  box-sizing: border-box;
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-7, .gridrow .offset-7 {
  margin-left: 58.33333%;
}

.gridrowfull .col-8, .gridrow .col-8 {
  box-sizing: border-box;
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-8, .gridrow .offset-8 {
  margin-left: 66.66667%;
}

.gridrowfull .col-9, .gridrow .col-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-9, .gridrow .offset-9 {
  margin-left: 75%;
}

.gridrowfull .col-10, .gridrow .col-10 {
  box-sizing: border-box;
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-10, .gridrow .offset-10 {
  margin-left: 83.33333%;
}

.gridrowfull .col-11, .gridrow .col-11 {
  box-sizing: border-box;
  width: 91.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-11, .gridrow .offset-11 {
  margin-left: 91.66667%;
}

.gridrowfull .col-12, .gridrow .col-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.gridrowfull .offset-12, .gridrow .offset-12 {
  margin-left: 100%;
}

@media (min-width: 750px) {
  .gridrowfull .col-t, .gridrow .col-t {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t, .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1, .gridrow .col-t-1 {
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-1, .gridrow .offset-t-1 {
    margin-left: 8.33333%;
  }
  .gridrowfull .col-t-2, .gridrow .col-t-2 {
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-2, .gridrow .offset-t-2 {
    margin-left: 16.66667%;
  }
  .gridrowfull .col-t-3, .gridrow .col-t-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-3, .gridrow .offset-t-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-t-4, .gridrow .col-t-4 {
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-4, .gridrow .offset-t-4 {
    margin-left: 33.33333%;
  }
  .gridrowfull .col-t-5, .gridrow .col-t-5 {
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-5, .gridrow .offset-t-5 {
    margin-left: 41.66667%;
  }
  .gridrowfull .col-t-6, .gridrow .col-t-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-6, .gridrow .offset-t-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-t-7, .gridrow .col-t-7 {
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-7, .gridrow .offset-t-7 {
    margin-left: 58.33333%;
  }
  .gridrowfull .col-t-8, .gridrow .col-t-8 {
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-8, .gridrow .offset-t-8 {
    margin-left: 66.66667%;
  }
  .gridrowfull .col-t-9, .gridrow .col-t-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-9, .gridrow .offset-t-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-t-10, .gridrow .col-t-10 {
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-10, .gridrow .offset-t-10 {
    margin-left: 83.33333%;
  }
  .gridrowfull .col-t-11, .gridrow .col-t-11 {
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-11, .gridrow .offset-t-11 {
    margin-left: 91.66667%;
  }
  .gridrowfull .col-t-12, .gridrow .col-t-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-12, .gridrow .offset-t-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .gridrowfull .col-d, .gridrow .col-d {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d, .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1, .gridrow .col-d-1 {
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-1, .gridrow .offset-d-1 {
    margin-left: 8.33333%;
  }
  .gridrowfull .col-d-2, .gridrow .col-d-2 {
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-2, .gridrow .offset-d-2 {
    margin-left: 16.66667%;
  }
  .gridrowfull .col-d-3, .gridrow .col-d-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-3, .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-d-4, .gridrow .col-d-4 {
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-4, .gridrow .offset-d-4 {
    margin-left: 33.33333%;
  }
  .gridrowfull .col-d-5, .gridrow .col-d-5 {
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-5, .gridrow .offset-d-5 {
    margin-left: 41.66667%;
  }
  .gridrowfull .col-d-6, .gridrow .col-d-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-6, .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-d-7, .gridrow .col-d-7 {
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-7, .gridrow .offset-d-7 {
    margin-left: 58.33333%;
  }
  .gridrowfull .col-d-8, .gridrow .col-d-8 {
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-8, .gridrow .offset-d-8 {
    margin-left: 66.66667%;
  }
  .gridrowfull .col-d-9, .gridrow .col-d-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-9, .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-d-10, .gridrow .col-d-10 {
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-10, .gridrow .offset-d-10 {
    margin-left: 83.33333%;
  }
  .gridrowfull .col-d-11, .gridrow .col-d-11 {
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-11, .gridrow .offset-d-11 {
    margin-left: 91.66667%;
  }
  .gridrowfull .col-d-12, .gridrow .col-d-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-12, .gridrow .offset-d-12 {
    margin-left: 100%;
  }
}

.gridrowfull.nogutter .col, .gridrowfull.nogutter .col-t, .gridrowfull.nogutter .col-d, .gridrow.nogutter .col, .gridrow.nogutter .col-t, .gridrow.nogutter .col-d {
  padding: 0;
}

.gridrowfull.nogutter .col-1, .gridrowfull.nogutter .col-t-1, .gridrowfull.nogutter .col-d-1, .gridrow.nogutter .col-1, .gridrow.nogutter .col-t-1, .gridrow.nogutter .col-d-1 {
  padding: 0;
}

.gridrowfull.nogutter .col-2, .gridrowfull.nogutter .col-t-2, .gridrowfull.nogutter .col-d-2, .gridrow.nogutter .col-2, .gridrow.nogutter .col-t-2, .gridrow.nogutter .col-d-2 {
  padding: 0;
}

.gridrowfull.nogutter .col-3, .gridrowfull.nogutter .col-t-3, .gridrowfull.nogutter .col-d-3, .gridrow.nogutter .col-3, .gridrow.nogutter .col-t-3, .gridrow.nogutter .col-d-3 {
  padding: 0;
}

.gridrowfull.nogutter .col-4, .gridrowfull.nogutter .col-t-4, .gridrowfull.nogutter .col-d-4, .gridrow.nogutter .col-4, .gridrow.nogutter .col-t-4, .gridrow.nogutter .col-d-4 {
  padding: 0;
}

.gridrowfull.nogutter .col-5, .gridrowfull.nogutter .col-t-5, .gridrowfull.nogutter .col-d-5, .gridrow.nogutter .col-5, .gridrow.nogutter .col-t-5, .gridrow.nogutter .col-d-5 {
  padding: 0;
}

.gridrowfull.nogutter .col-6, .gridrowfull.nogutter .col-t-6, .gridrowfull.nogutter .col-d-6, .gridrow.nogutter .col-6, .gridrow.nogutter .col-t-6, .gridrow.nogutter .col-d-6 {
  padding: 0;
}

.gridrowfull.nogutter .col-7, .gridrowfull.nogutter .col-t-7, .gridrowfull.nogutter .col-d-7, .gridrow.nogutter .col-7, .gridrow.nogutter .col-t-7, .gridrow.nogutter .col-d-7 {
  padding: 0;
}

.gridrowfull.nogutter .col-8, .gridrowfull.nogutter .col-t-8, .gridrowfull.nogutter .col-d-8, .gridrow.nogutter .col-8, .gridrow.nogutter .col-t-8, .gridrow.nogutter .col-d-8 {
  padding: 0;
}

.gridrowfull.nogutter .col-9, .gridrowfull.nogutter .col-t-9, .gridrowfull.nogutter .col-d-9, .gridrow.nogutter .col-9, .gridrow.nogutter .col-t-9, .gridrow.nogutter .col-d-9 {
  padding: 0;
}

.gridrowfull.nogutter .col-10, .gridrowfull.nogutter .col-t-10, .gridrowfull.nogutter .col-d-10, .gridrow.nogutter .col-10, .gridrow.nogutter .col-t-10, .gridrow.nogutter .col-d-10 {
  padding: 0;
}

.gridrowfull.nogutter .col-11, .gridrowfull.nogutter .col-t-11, .gridrowfull.nogutter .col-d-11, .gridrow.nogutter .col-11, .gridrow.nogutter .col-t-11, .gridrow.nogutter .col-d-11 {
  padding: 0;
}

.gridrowfull.nogutter .col-12, .gridrowfull.nogutter .col-t-12, .gridrowfull.nogutter .col-d-12, .gridrow.nogutter .col-12, .gridrow.nogutter .col-t-12, .gridrow.nogutter .col-d-12 {
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #10324F;
  font-family: "Regular", sans-serif;
  background-color: #F8F8F8;
  /* Margin because of the fixed navigations in mobile */
  margin: 4.6875rem 0;
}

@media (min-width: 750px) {
  body {
    margin-top: 4.6875rem;
    margin-bottom: 0;
  }
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn-primary {
  background: #1EA0C8;
  color: #FFF;
}

.btn-secondary {
  background: #FFF;
  color: #1EA0C8;
  border: 2px solid #1EA0C8;
}

.btn-pagination {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 32px;
  height: 32px;
  background: #FFF;
  color: #1EA0C8;
  margin: 1rem 0 1rem .5rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.active {
  background: #1EA0C8;
  color: #FFF;
}

/* CSS Arrows */
.arrow {
  border: solid #10324F;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

/* Remove padding in mobile */
@media (max-width: 750px) {
  .paddingrightfourth {
    padding-right: 0 !important;
  }
  .paddingleftfourth {
    padding-left: 0 !important;
  }
}

#navbar {
  background-color: #1EA0C8;
  color: #FFF;
  height: 75px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#navbar .navbar-logo {
  width: 120px;
  height: auto;
}

#navbar .navbar-links-left {
  font-weight: bold;
  display: none;
  position: absolute;
  left: 5%;
}

#navbar .navbar-links-left > li:not(:first-child) {
  margin-left: 3rem;
}

#navbar .navbar-links-right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
}

#navbar #language {
  display: none;
}

#navbar .signup-text {
  display: none;
}

#navbar .signup-text span {
  margin: .2rem;
}

#navbar .signup-text img {
  margin-left: .5rem;
}

#navbar .menu-icon {
  margin-left: 1rem;
}

@media (min-width: 750px) {
  #navbar .navbar-links-right > *:not(:first-child) {
    margin-left: 2rem;
  }
  #navbar #language {
    display: inline-block;
  }
  #navbar .signup-text {
    display: flex;
    align-items: center;
  }
  #navbar .navbar-links-left {
    display: flex;
  }
  #navbar .menu-icon {
    display: none;
  }
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: #FFF;
}

.bottom-navigation > a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-navigation > a img {
  min-height: 20px;
  object-fit: none;
}

.bottom-navigation > a p {
  margin: 0;
  margin-top: .5rem;
  color: #1EA0C8;
}

.bottom-navigation .active {
  border-top: 2px solid #1EA0C8;
}

@media (min-width: 750px) {
  .bottom-navigation {
    display: none;
  }
}

#footer {
  display: none;
}

@media (min-width: 750px) {
  #footer {
    display: block;
  }
}

#footer .footer-newsletter {
  background: #1EA0C8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

#footer .footer-newsletter p {
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
}

#footer .footer-newsletter .field {
  display: flex;
  width: 500px;
  margin-top: 1.5rem;
}

#footer .footer-newsletter .field input {
  display: block;
  flex: 1;
  border: 2px solid #FFF;
  border-radius: 4px 0 0 4px;
  background: #1EA0C8;
  padding-left: 1rem;
}

#footer .footer-newsletter .field button {
  border-color: #FFF;
  border-radius: 0 4px 4px 0;
}

#footer .footer-newsletter ::placeholder {
  color: #FFF;
}

#footer .footer-links {
  justify-content: center;
  margin-top: 2rem;
}

#footer .footer-links h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1rem;
}

#footer .footer-links ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

#footer .footer-links .social-links {
  margin-top: 1rem;
}

#footer .footer-links .social-links > a:last-child {
  margin-left: .5rem;
}

#footer .copyright {
  margin: 3rem 0 2rem;
}

#footer .mt {
  margin-top: 1.5rem;
}

.user-area {
  display: none;
}

.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  order: 2;
  margin-top: -1rem;
}

.user-avatar img {
  width: 100px;
  height: auto;
}

.user-info {
  order: 3;
  text-align: center;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.user-likes {
  font-size: 16px;
  line-height: 23px;
}

.user-description {
  font-size: 16px;
  text-align: left;
  margin: .5rem 0;
}

.user-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: .5rem 0;
  color: #1EA0C8;
  font-size: 12px;
}

.user-score {
  order: 1;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.user-score > div {
  display: flex;
}

.user-score > p {
  font-size: 16px;
  font-weight: bold;
}

.user-badge-text {
  margin-left: .5rem;
}

.user-badge-text h3 {
  color: #85C3D5;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.user-badge-text p {
  color: #A6A7A8;
  font-size: 12px;
}

/* ------------- */
/* User Area Nav */
/* ------------- */
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 0 100%;
  background: rgba(148, 210, 248, 0.3);
  border-radius: 5px;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.nav-item p {
  font-size: 20px;
  font-weight: bold;
}

.nav-item p:last-child {
  color: #1EA0C8;
  font-size: 16px;
  font-weight: bold;
}

.reviews-header {
  display: flex;
  flex-direction: column;
}

.reviews-header h4 {
  font-size: 24px;
  text-align: center;
  margin: 2rem 0;
}

.reviews-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-header > div .dropdown {
  background: rgba(148, 210, 248, 0.3);
  border-radius: 4px;
  padding: .5rem;
}

.reviews-header > div .dropdown i {
  margin-left: .5rem;
}

@media (min-width: 750px) {
  .user-area {
    display: block;
  }
  .user-header {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3rem 0;
    position: relative;
  }
  .user-avatar {
    order: 1;
    margin-top: 0rem;
  }
  .user-avatar img {
    width: 165px;
    height: auto;
  }
  .user-info {
    order: 2;
    text-align: left;
    padding: 0 10rem 0 3rem;
  }
  .user-name {
    font-size: 34px;
    font-weight: normal;
    line-height: 51px;
  }
  .user-likes {
    font-size: 20px;
    line-height: 30px;
  }
  .user-description {
    font-size: 18px;
    text-align: left;
  }
  .user-edit {
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
  }
  .user-score {
    order: 3;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    right: 0;
  }
  .user-score > div {
    display: flex;
  }
  .user-score > p {
    font-size: 20px;
    font-weight: bold;
  }
  .user-badge-text h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .user-badge-text p {
    color: #A6A7A8;
    font-size: 18px;
  }
  .nav-item {
    flex: 1 0 auto;
    border-radius: 0;
    border: 1px solid #FFF;
  }
  .active-link {
    border-bottom: 2px solid #10324F !important;
  }
}

#homepage {
  /* ----- */
  /* Glide */
  /* ----- */
}

#homepage .hero {
  position: relative;
  height: 40vh;
}

#homepage .hero .hero-image {
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage .hero .hero-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#homepage .hero .hero-hover h1 {
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin: 3rem 0 2rem;
}

#homepage .container-glider {
  position: relative;
}

#homepage .glide {
  position: static;
  margin: 2rem auto;
  width: 90%;
  z-index: 2;
}

#homepage .glide .glide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#homepage .glide__controls {
  position: absolute;
  top: calc(50% - 29px / 2);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

#homepage .glide__controls button {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  background: none;
  color: #1EA0C8;
}

#homepage .glide__controls button:focus {
  outline: none;
}

#homepage h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 3rem 0 2rem;
}

#homepage .container-promos {
  justify-content: space-between;
}

#homepage .card {
  width: 250px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(166, 167, 168, 0.48);
}

#homepage .card img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}

#homepage .card .card-header {
  color: #FFF;
  background: #1EA0C8;
  padding: 1rem .5rem;
}

#homepage .card .card-header .card-title {
  margin: 0;
  font-size: 12px;
  padding-bottom: .5rem;
}

#homepage .card .card-header .card-categories {
  margin: 0;
  font-size: 12px;
}

#homepage .card .card-body {
  background: #FFF;
  border-radius: 0px 0px 4px 4px;
}

#homepage .card .card-body p {
  margin: 0;
  padding: 1rem .5rem 0;
  font-size: 12px;
}

#homepage .card .card-body p:last-child {
  padding-bottom: 1rem;
}

@media (max-width: 750px) {
  #homepage .hero-image {
    background-image: url("../images/homepage/hero-image-mobile.png");
  }
}

@media (min-width: 750px) {
  #homepage .hero {
    height: 50vh;
  }
  #homepage .hero h1 {
    font-size: 48px;
  }
  #homepage .hero-image {
    background-image: url("../images/homepage/hero-image-desktop.png");
  }
}

#signup-page .container-signup {
  justify-content: space-between;
  align-items: center;
  color: #10324F;
}

#signup-page .container-signup a {
  font-size: 20px;
  margin: 1rem 0;
}

#signup-page .container-signup a:last-of-type {
  font-weight: bold;
  border-bottom: 2px #EC0A84 solid;
  padding-bottom: .2rem;
}

#signup-page .container-signup h2 {
  margin: 2rem;
  display: none;
}

@media (min-width: 750px) {
  #signup-page .container-signup {
    justify-content: center;
  }
  #signup-page .container-signup a {
    display: none;
  }
  #signup-page .container-signup h2 {
    display: block;
  }
}

#signup-page .form-signup {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#signup-page .form-signup label {
  padding-left: 16px;
  font-size: 12px;
  font-weight: bold;
}

#signup-page .form-signup .input-signup {
  width: 100%;
  padding: 13px 0 13px 16px;
  margin-bottom: 1rem;
  border: 2px solid #1EA0C8;
  border-radius: 4px;
}

#signup-page .form-signup .container-terms {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#signup-page .form-signup .btn-signup {
  width: 100%;
}

#signup-page .separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #EC0A84;
  max-width: 400px;
  margin: 1rem auto;
  padding: 0 5%;
}

@media (min-width: 750px) {
  #signup-page .separator {
    padding: 0;
  }
}

#signup-page .separator::before, #signup-page .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #1EA0C8;
}

#signup-page .separator::before {
  margin-right: .25em;
}

#signup-page .separator::after {
  margin-left: .25em;
}

#signup-page .external-signup {
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

#signup-page .external-signup .btn-facebook {
  background: #3B5998 !important;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

#signup-page .external-signup .btn-google {
  background: #DB4437 !important;
  width: 100%;
  max-width: 400px;
}

#signup-page .container-intro {
  margin-bottom: 2rem;
  align-items: center;
  display: none;
}

@media (min-width: 750px) {
  #signup-page .container-intro {
    display: flex;
  }
}

#signup-page .container-intro img {
  max-width: 100%;
  height: auto;
}

#signup-page .container-intro p {
  font-size: 24px;
  line-height: 36px;
}

#signup-categories-page .title {
  flex-direction: column;
}

#signup-categories-page .title h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0;
}

#signup-categories-page .title p {
  margin-bottom: .5rem;
}

#signup-categories-page .container {
  margin-bottom: 2rem;
}

#signup-categories-page .btn-primary {
  width: 100%;
}

#signup-categories-page .f1 {
  flex: 1;
}

#signup-categories-page .f2 {
  flex: 2;
}

#signup-categories-page .f3 {
  flex: 3;
}

#signup-categories-page .container-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#signup-categories-page .container-cat > p {
  margin: .5rem .5rem;
}

#signup-categories-page .container-cat > p:first-child {
  margin-left: 0;
}

#signup-categories-page .container-cat > p:last-child {
  margin-right: 0;
}

#signup-categories-page .pink, #signup-categories-page .lilac, #signup-categories-page .light-blue, #signup-categories-page .peach, #signup-categories-page .light-pink {
  border-radius: 4px;
  padding: 1rem .5rem;
  text-align: center;
}

#signup-categories-page .pink {
  background: rgba(255, 172, 217, 0.5);
}

#signup-categories-page .lilac {
  background: rgba(174, 136, 255, 0.5);
}

#signup-categories-page .light-blue {
  background: rgba(92, 217, 187, 0.5);
}

#signup-categories-page .peach {
  background: rgba(254, 238, 154, 0.5);
}

#signup-categories-page .light-pink {
  background: rgba(255, 188, 150, 0.5);
}

@media (min-width: 750px) {
  #signup-categories-page .container {
    padding: 1rem;
    background: #FFF;
  }
  #signup-categories-page .title {
    text-align: center;
  }
  #signup-categories-page .title > h3 {
    font-size: 48px;
    font-weight: normal;
    margin: 3rem 0 2rem;
  }
  #signup-categories-page .title p {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

#user-reviews-page {
  /* card review */
}

#user-reviews-page .card-review {
  flex: 1 0 100%;
  background: #FFF;
  box-shadow: 0px 2px 2px rgba(166, 167, 168, 0.48);
  border-radius: 4px;
  padding: .5rem;
  margin-top: 1rem;
}

#user-reviews-page .review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#user-reviews-page .review-header-text h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: .5rem;
}

#user-reviews-page .review-header-text p {
  font-size: 12px;
}

#user-reviews-page .review-header-icons {
  display: flex;
  align-items: center;
}

#user-reviews-page .review-score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#user-reviews-page .score-item > img {
  width: 12px;
}

#user-reviews-page .review-description {
  line-height: 18px;
  margin-bottom: 1rem;
}

#user-reviews-page .review-evaluation {
  display: flex;
  justify-content: space-between;
}

#user-reviews-page .review-evaluation > div {
  display: flex;
}

#user-reviews-page .evaluation-stats {
  display: flex;
  align-items: center;
}

#user-reviews-page .evaluation-stats:not(:first-of-type) {
  margin-left: 1rem;
}

#user-stores {
  /* ------- */
  /* Medias */
  /* ------- */
}

#user-stores .card-store {
  display: flex;
  box-shadow: 0px 2px 2px rgba(166, 167, 168, 0.48);
  border-radius: 4px;
  background: #FFF;
  margin-top: 1rem;
}

#user-stores .card-store-image img {
  max-height: 100px;
  object-fit: cover;
}

#user-stores .card-store-body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

#user-stores .store-body-title h6 {
  font-size: 12px;
  font-weight: bold;
}

#user-stores .store-body-title p {
  display: none;
}

#user-stores .store-body-info {
  display: flex;
  flex-direction: column;
  margin-top: .8rem;
}

#user-stores .store-body-info p {
  font-size: 12px;
}

#user-stores .store-body-info p:last-of-type {
  display: flex;
  justify-items: center;
  margin-top: .8rem;
}

#user-stores .store-body-info p:last-of-type img {
  margin-right: .5rem;
}

#user-stores .store-body-info p > span {
  display: none;
}

#user-stores .store-body-info img {
  width: 10px;
  height: auto;
}

#user-stores .store-body-nav {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

#user-stores .store-body-nav > a {
  display: none;
}

@media (min-width: 750px) {
  #user-stores .card-store-image img {
    max-height: none;
  }
  #user-stores .store-body-title h6 {
    font-size: 18px;
    line-height: 27px;
  }
  #user-stores .store-body-title p {
    display: block;
    font-size: 16px;
  }
  #user-stores .store-body-info p {
    order: 2;
  }
  #user-stores .store-body-info p:last-of-type {
    order: 1;
    margin-top: 0;
    margin-bottom: .8rem;
  }
  #user-stores .store-body-info p > span {
    display: inline-block;
    font-weight: bold;
  }
  #user-stores .store-body-nav {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
  }
  #user-stores .store-body-nav > a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    border-bottom: 1px solid #1EA0C8;
    color: #1EA0C8;
  }
  #user-stores .store-body-nav > img {
    margin-right: .5rem;
  }
}

#user-roteiros .card-roteiro {
  box-shadow: 0px 2px 2px rgba(166, 167, 168, 0.48);
  margin-top: 1rem;
}

#user-roteiros .card-roteiro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1EA0C8;
  border-radius: 4px 4px 0 0;
  padding: .5rem;
}

#user-roteiros .card-roteiro-header-title h3 {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  line-height: 24px;
}

#user-roteiros .card-roteiro-header-title p {
  font-size: 12px;
  color: #FFF;
}

#user-roteiros .card-roteiro-image img {
  width: 100%;
}

#user-roteiros .card-roteiro-footer {
  border-radius: 0 0 4px 4px;
  padding: .5rem;
}

#user-roteiros .card-roteiro-footer > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

#user-roteiros .card-roteiro-footer-icons {
  display: flex;
  justify-content: space-between;
}

#user-roteiros .card-roteiro-footer-icons > div {
  display: flex;
}

#user-roteiros .evaluation-stats {
  display: flex;
  align-items: center;
}

#user-roteiros .evaluation-stats:not(:first-of-type) {
  margin-left: 1rem;
}

#user-roteiros .createdBy {
  font-weight: bold;
}

#user-checkin {
  /* ------- */
  /* Medias */
  /* ------- */
}

#user-checkin .user-checkin-map {
  margin-top: 1rem;
}

#user-checkin .user-checkin-map img {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  object-position: top;
}

#user-checkin .card-store {
  display: flex;
  box-shadow: 0px 2px 2px rgba(166, 167, 168, 0.48);
  border-radius: 4px;
  background: #FFF;
  margin-top: 1rem;
}

#user-checkin .card-store-image img {
  max-height: 100px;
  object-fit: cover;
}

#user-checkin .card-store-body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

#user-checkin .store-body-title h6 {
  font-size: 12px;
  font-weight: bold;
}

#user-checkin .store-body-title p {
  display: none;
}

#user-checkin .store-body-info {
  display: flex;
  flex-direction: column;
  margin-top: .8rem;
}

#user-checkin .store-body-info p {
  font-size: 12px;
}

#user-checkin .store-body-info p:last-of-type {
  display: flex;
  justify-items: center;
  margin-top: .8rem;
}

#user-checkin .store-body-info p:last-of-type img {
  margin-right: .5rem;
}

#user-checkin .store-body-info p > span {
  display: none;
}

#user-checkin .store-body-info img {
  width: 10px;
  height: auto;
}

#user-checkin .store-body-nav {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

#user-checkin .store-body-nav > a {
  display: none;
}

@media (min-width: 750px) {
  #user-checkin .card-store-image img {
    max-height: none;
  }
  #user-checkin .store-body-title h6 {
    font-size: 18px;
    line-height: 27px;
  }
  #user-checkin .store-body-title p {
    display: block;
    font-size: 16px;
  }
  #user-checkin .store-body-info p {
    order: 2;
  }
  #user-checkin .store-body-info p:last-of-type {
    order: 1;
    margin-top: 0;
    margin-bottom: .8rem;
  }
  #user-checkin .store-body-info p > span {
    display: inline-block;
    font-weight: bold;
  }
  #user-checkin .store-body-nav {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
  }
  #user-checkin .store-body-nav > a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    border-bottom: 1px solid #1EA0C8;
    color: #1EA0C8;
  }
  #user-checkin .store-body-nav > img {
    margin-right: .5rem;
  }
}

#user-seguidores {
  /* ------ */
  /* Medias */
  /* ------ */
}

#user-seguidores .card-user {
  margin-top: 1rem;
  box-shadow: 0px 2px 2px rgba(166, 167, 168, 0.48);
  background: #FFF;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-seguidores .card-user-info h3 {
  margin-bottom: .5rem;
  font-size: 16px;
  font-weight: bold;
}

#user-seguidores .card-user-score {
  display: flex;
  align-items: center;
}

#user-seguidores .card-user-score p {
  margin-left: .5rem;
  font-size: 12px;
}

#user-seguidores .user-score-text {
  color: #10324F;
  font-weight: bold;
}

#user-seguidores .user-score-value {
  display: none;
}

#user-seguidores .btn-secondary {
  padding: .5rem;
  font-size: 12px;
}

@media (min-width: 750px) {
  #user-seguidores .user-score-value {
    display: inline;
  }
  #user-seguidores .btn-seconday {
    padding: 1rem;
    font-size: 14px;
  }
}

#user .user-area {
  display: block;
}

#user .user-body {
  display: none;
}

@media (min-width: 750px) {
  #user .user-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #user .user-body img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */