#homepage {
  .hero {
    position: relative;
    height: 40vh;
    .hero-image {
      width: 100%;
      height: 100%;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .hero-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h1 {
        color: white;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        margin: 3rem 0 2rem;
      }
    }
  }
  /* ----- */
  /* Glide */
  /* ----- */
  .categories-glider {
    margin: 1rem auto;
  }
  .category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-parent {
    margin: 1.5rem;
  }

  .card {
    width: 100%;
    border-radius: 4px;
    box-shadow: $cards-shadow;
    
    img {
      min-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px 4px 0px 0px;
    }

    .card-header {
      color: $white;
      background: $primary;
      padding: 1rem .5rem;

      .card-title {
        margin: 0;
        font-size: 12px;
        padding-bottom: .5rem;
      }
      .card-categories {
        margin: 0;
        font-size: 12px;
      }
    }

    .card-body {
      background: $white;
      border-radius: 0px 0px 4px 4px;
      p{
        margin: 0;
        padding: 1rem .5rem 0;
        font-size: 12px;
      
        &:last-child {
          padding-bottom: 1rem;
        }
      }
    }
  }

  @media(max-width: $tablet) {
    .hero-image {
      background-image: url('../images/homepage/hero-image-mobile.png');
    }
  }

  @media(min-width: $tablet) {
    .hero {
      height: 50vh;

      h1 {
        font-size: 48px;
      }
    }
    .hero-image {
      background-image: url('../images/homepage/hero-image-desktop.png');
    }
  }
}