#navbar {
  background-color: $primary;
  height: 100px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  > img {
    width: 150px;
    height: auto;
  }

  .navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34.5px;
    right: 5%;

    img:first-child {
      margin-right: 1rem;
    }
  }
}