.container-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary;

  p {
    font-size: 20px;
  
    &:last-child {
      font-weight: bold;
    }
  }

}

.form-signup {
  input {
    width: 100%;
  }

  .btn-signup {
    width: 100%;
  }
}