@import 'fonts';
@import 'normalize';
@import 'variables';
@import 'utils';
@import 'grid';
@import 'navbar';
@import 'bottom-nav';

// Import pages
@import 'signup';

* {
  box-sizing: border-box;
}

body {
  color: $text;
  font-family: $bodyfont, sans-serif;
  background-color: $background;
}

//TODO - MEDIA QUERY
main {
  margin-top: 7rem;
}

a { 
  color: inherit;
  text-decoration: none;
} 

button {
  border: none;
}

