#footer {
  display: none;
  @media(min-width: $tablet){
    display: block;
  }
  .footer-newsletter {
    background: $primary;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    p {
      color: $white;
      font-size: 20px;
      font-weight: bold;
    }
    .field {
      display: flex;
      width: 500px;
      margin-top: 1.5rem;
      input {
        display: block;
        flex: 1;
        border: 2px solid $white;
        border-radius: 4px 0 0 4px;
        background: $primary;
        padding-left: 1rem;
      }
      button {
        border-color: $white;
        border-radius: 0 4px 4px 0;
      }
    }
    ::placeholder {
      color: $white;
    }
  }
  .footer-links {
    justify-content: center;
    margin-top: 2rem;
    h3 {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 1rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
      font-size: 16px;
      line-height: 24px;
    }
    .social-links {
      margin-top: 1rem;
      & > a:last-child {
        margin-left: .5rem;
      }
    }
  }
  .copyright {
    margin: 3rem 0 2rem;
  }
  .mt {
    margin-top: 1.5rem;
  }
}
